{% include header.html %}
<body class="article">
  <header class="site-header">
    <h2><a href="/">Jeroen Bourgois</a></h2>
    <h3>make/install <a href="http://twitter.com/#!/jeroenbourgois">@jeroenbourgois</a> - <a href="#articles" id="showarticles">articles</a></h3>
    <nav id="menu">
      <ul class="unstyled">
        {% for post in site.posts %}
        <li><a href="{{ post.url }}">{{ post.date | date: "%Y-%m-%d" }} ~ {{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
	</header>
	<article class="site-content" role="main">
	  {{ content }}
	</article>
  <div id="disqus_thread"></div>
  <script type="text/javascript">
      var disqus_identifier = disqus_identifier && 'badid' || '{{ page.uuid }}';
    (function() {
     var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
     dsq.src = 'http://jeroenbourgois.disqus.com/embed.js';
     (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=jeroenbourgois">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
{% include footer.html %}
