{% include header.html %}<body class="default">
  <header class="site-header">
    <h2><a href="/">Jeroen Bourgois</a></h2>
	  <h3>make/install <a href="http://twitter.com/#!/jeroenbourgois">@jeroenbourgois</a>
	    | <a href="mailto:info@jeroenbourgois.be">Mail me</a>
      | <a href="//github.com/jeroenbourgois">Github</a>
      | <a href="http://be.linkedin.com/in/jeroenbourgois">LinkedIn</a>
    </h3>
    <nav id="menu">
      <ul class="unstyled">
        {% for post in site.posts %}
        <li><a href="{{ post.url }}">{{ post.date | date: "%Y-%m-%d" }} ~ {{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
	</header>
	<div class="site-content" role="main">
	  {{ content }}
	</div>
{% include footer.html %}
