{% include header.html %}<body class="default">
  <header>
    <h2><a href="/">Jeroen Bourgois</a></h2>
	  <h3>make/install <a href="http://twitter.com/#!/jeroenbourgois">@jeroenbourgois</a></h3>
    <nav id="menu">
      <ul class="unstyled">
        {% for post in site.posts %}
        <li><a href="{{ post.url }}">{{ post.date | date: "%Y-%m-%d" }} ~ {{ post.title }}</a></li>
        {% endfor %}
      </ul>  
    </nav>
	</header>
	<div id="main" role="main">
	  {{ content }}	
	</div>
{% include footer.html %}
